  <div class="scroll-sidebar" data-simplebar>
        <div class="d-flex mb-4 align-items-center justify-content-between">
            <a href="index.html" class="text-nowrap logo-img ms-0 ms-md-1">
              <img src="~/images/logos/dark-logo.svg" width="180" alt="">
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
        </div>
      
						
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <div class="nav-small-cap">
            <span class="hide-menu">Search Here..</span>
            <form action="#" method="post">
              <input type="search" placeholder="Key word..." name="search" required="">
              <input type="button" value="" class="text-primary btnex">
            </form>
          </div>
          <div class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
            <span class="hide-menu">Provider</span>
          </div>
          <ul id="sidebarnav" class="mb-4 pb-2">
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link primary-hover-bg" aria-expanded="false">
                <span class="aside-icon p-2 bg-light-primary rounded-3">
                  <i class="ti ti-aperture fs-7 text-primary"></i>
                </span>
                <span class="hide-menu ms-2 ps-1">Provider</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link sidebar-link warning-hover-bg" aria-expanded="false">
                <span class="aside-icon p-2 bg-light-warning rounded-3">
                  <i class="ti ti-article fs-7 text-warning"></i>
                </span>
                <span class="hide-menu ms-2 ps-1">Provider</span>
              </a>
            </li>
            
            
          </ul>
          <div class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
            <span class="hide-menu">Pagination</span>
          </div>
          <ul class="sidebar-list">
            <li class="sidebar-list-item">
              <input type="radio" name="page">
              <span class="hide-menu ms-2">Page 1 -> 3</span>
            </li>
            <li class="sidebar-list-item">
              <input type="radio" name="page">
              <span class="hide-menu ms-2">Page 4 -> 6</span>
            </li>              
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>