@model IEnumerable<TestAtHome3.Models.HangHoa>
@{
    ViewBag.Title = ViewBag.LoaiHang;
    Layout = "_Layout";
}

<!-- Begin Main -->
<div class="main">
    <div class="content">
        <!-- Begin New Product -->
        <div class="content_top">
            <div class="heading">
                <h3>NGUYỄN THẾ LOAN AN</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var hangHoa in Model)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="#"><img src="/images/@hangHoa.Anh" alt="" /></a>
                    <h2>@hangHoa.TenHang </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:#,##0} ₫", hangHoa.Gia)</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="#">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<!-- End Main -->
