@model IEnumerable<TestAtHome2.Models.HangHoa>

@{
ViewData["Title"] = "Danh sách hàng hóa";
Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn đến layout
}

<h1>@ViewData["Title"]</h1>

<div class="main">
    <div class="content">
        <!-- Begin New Product -->
        <div class="content_top">
            <div class="heading">
                <h3>New Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var hangHoa in Model)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html"><img src="images/@hangHoa.Anh" alt=""/></a>
                    <h2>@hangHoa.TenHang</h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">@hangHoa.Gia?.ToString("C")</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Add to Cart</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </div>
        <!-- End New Product -->
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


